<div class="card">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>Book Name</th>
            <th>Author</th>
            <th>Price</th>
            <th>Page Count</th>
            <th>Is Active</th>
            <th>Edit</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of getAllBooks; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ book.bookName }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.price  | currency :'INR'}}</td>
            <td>{{ book.pages }}</td>
            <td>{{ book.isAvailable ? "Yes" : "No" }}</td>
            <td>
              <button mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
            <td>
                 <button mat-mini-fab color="warn" (click)="onRemove(book.bookId)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
