<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
        <p class="alert alert-success text-center text-bold mt-5">SERVICE CRUD - BIKE  </p>
      <app-bike-dashboard></app-bike-dashboard>
       <p class="alert alert-success text-center text-bold mt-5">SERVICE CRUD - PATIENT  </p>
      <app-patient-dashboard></app-patient-dashboard>
      <p class="alert alert-success text-center mt-5">SERVICE CRUD - CAKE</p>
      <app-cake-dashboard></app-cake-dashboard>
    </div>
  </div>
</div>