<p class="alert alert-info text-center">Patient Form</p>
<div class="card">
  <div class="card-body">
    <form #patientForm="ngForm" (ngSubmit)="onAddPatient()">
      <div class="form-group">
        <label for="fname">First Name</label>
        <input ngModel required name="fname" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="lname">Last Name</label>
        <input ngModel required name="lname" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input ngModel required name="age" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select ngModel required name="gender" type="number" class="form-control">
          <option [ngValue]="'Male'">Male</option>
          <option [ngValue]="'Female'">Female</option>
          <option [ngValue]="'Other'">Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="disease">Disease</label>
        <input
          ngModel
          required
          name="disease"
          type="text"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="contact">Contact</label>
        <input
          ngModel
          required
          name="contact"
          type="number"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="isAdmitted">Is Admitted</label>
        <select
          ngModel
          required
          name="isAdmitted"
          type="number"
          class="form-control"
        >
          <option [value]="true">Yes</option>
          <option [value]="false">No</option>
        </select>
      </div>
      <button
        type="submit"
        *ngIf="!isInEditMode"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        Add Patient
      </button>
      <button
        type="button"
        *ngIf="isInEditMode"
        mat-raised-button
        color="accent"
        class="w-100"
        (click)="onUpdatedPatient()"
      >
        Update Patient
      </button>
    </form>
  </div>
</div>
